<div class="row mt-3">
  <div class="col-12">
    <h3>3. A slope graph about <a href="https://www.nytimes.com/interactive/2017/09/02/upshot/fentanyl-drug-overdose-deaths.html">drug overdose deaths</a></h3>
  </div>
  <div class="col-7">
    <div id="slope-graph">
    </div>
  </div>
  <div class="col-5">
    <p>When you hover over a state's name, the state's name, the line, and the dots should all light up in a nice highlight color.</p>
    <p>If you hover over a line or a dot, the name/line/dot should also highlight.</p>
    <p>When you remove your mouse, they should return to their original color.</p>
    <div class="alert alert-warning small">
      You'll want to use <code>console.log(d)</code> a lot in this to see what the data looks like - it isn't always the same as in the csv!
    </div>
  </div>
</div>
