<!doctype html>
<html lang='en'>
<head>
  {{> base/head }}
</head>

<body>
{{> base/navbar }}
<div class="container">

  {{> base/headline }}

  {{> homework-07/bar_chart }}
  
  {{> homework-07/line_chart }}

  {{> homework-07/slope_graph }}
  
  <script src="scripts/01-bar-chart.js"></script>
  <script src="scripts/02-line-chart.js"></script>
  <script src="scripts/03-slope-graph.js"></script>

</body>
</html>